*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
  
}
h2{
    margin-top: 10px;
    text-align: center;
    font-size: 35px;
    color: white;
}
.wrap{
   width: 400px;
   height: auto;
   margin: auto;
   padding: 20px;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHRdz914upqkyw1-BDQ3DAZgPc2eJTvhAeXg&usqp=CAU);
   margin-top: 30px ;
   border-radius: 8px;
   
}
input[type=text]{
    width: 100%;
    height: 40px;
    font-size: 22px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px white;
    background-color: aliceblue;
}
input[type=button]{
    width: 97px;
    height: 50px;
    font-size: 24px;
    border: 1px white;
    border-radius: 12px;
    background-color: aliceblue;
    font-weight: bold;
    color: darkslategray;
}
#del{
    width: 100%;
    border-radius: 12px; 
    background-color: aliceblue;
}
@media screen and (max-width:570px){
    .wrap{
        width: 250px;
    }
    input[type=text]{
        width: 100%;
        height: 30px;
        font-size: 14px;
        margin-top: 15px;
    }
    input[type=button]{
        width: 56px;
        height: 30px;
        font-size: 14px;
    }
    h2{
        font-size:25px ;
    }
}
